.page-header {
  color: white;
  background-color: #ff0000;
  background-image: url(../images/sud.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: .2em;
  padding-bottom: .1em;
  font: bold 116px/32px sans-serif;
}

.main-content {
  max-width: 92rem;
}

img[alt=taxonomy] { width: 100%; }