nav {
  display: inline-block;
  vertical-align: middle;
}

nav ul {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  /* text-align: center; */
  width: 100%;
}
nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  /* min-width: 33%; */
}
nav a {
  display: block;
  font: normal 16px sans-serif;
  padding-right: 9px;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

nav li ul li:hover a {
  background: #f5f5f5;
}
nav li ul {
  background: #fff;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 10px;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
nav li:hover ul {
  opacity: 1;
  top: 23px;
  visibility: visible;
}
nav li ul li {
  width: 130px;
  display: inline-block;
  border-bottom: 1px solid lightgrey;
  background: #fff;
  cursor: pointer;
}
nav li ul a {
  color: #000;
  font: normal 16px/32px sans-serif;
}
nav li ul a:hover {
  color: #501d7d;

  text-decoration: none;
}

.page-header {
  color: white;
  background-color: #ff0000;
  background-image: url(../images/sud.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 0.2em;
  padding-bottom: 0.1em;
  font: bold 116px/32px sans-serif;
}

.main-content {
  max-width: 92rem;
}

img[alt="taxonomy"] {
  width: 100%;
}

img[alt=gm] { width: 30px; }
img[alt=gh] { width: 30px; }
