<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{ partial "head.html" . }}

<body>
  {{ partial "header-nav.html" . }}
  <section class="main-content">
    <h1>
      {{ .Title }}
        {{ if isset .Params "src" }}
          {{ $src := .Params.src }}
          <span style="float: right; font-size:50%">
            <a href= https://github.com/surfacesyntacticud/website/edit/master/content/{{ $src }} target="_blank">
              <button>Edit the page</button>
            </a>
          </span>
        {{ end }}
    </h1>
    {{ block "main" . }}{{ end }}
  </section>
</body>

</html>